<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Animation
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner{
        height:620px;
        width:100%;
        object-fit:cover;
        margin-bottom:16px;
      }
    </style>
  </head>
 <body>
   {% include 'nav.html' %}
   <div class="container" >
   <img class="img-fluid" id ="banner"src="https://a90fdfc7-0aeb-488f-9f55-f214eb0a292b-00-g57u54opf3ro.pike.replit.dev/static/me.jpg">
      <h1 class="text-center mt-2 mb-4" >{{Company_name}} Careers</h1>
    <div class="row">
      <div class="col-md-6"
     <p class="lead">
      Python has become one of the most sought-after programming languages in the job market, thanks to its versatility, ease of learning, and broad range of applications. As businesses increasingly rely on data-driven decision-making and automation, the demand for Python developers continues to soar. Professionals skilled in Python can find opportunities across various industries, including web development, data science, artificial intelligence, machine learning, and scientific computing. Employers are particularly looking for candidates who can harness Python’s extensive libraries and frameworks, such as Django, Flask, Pandas, and TensorFlow, to build efficient and scalable solutions. With its growing popularity and the expanding tech landscape, pursuing a career in Python programming offers promising prospects for both new graduates and seasoned professionals looking to upskill.
    </p>
      </div>
      <div class=" d-none d-md-block col-md-6">
      <img src="https://a90fdfc7-0aeb-488f-9f55-f214eb0a292b-00-g57u54opf3ro.pike.replit.dev/static/people.jpg" style="height:320px;border-radius:8px;">
      </div>
    </div>
   <h2 class="text-center mt-2 mb-4">Open Position</h2>
     <div> {% for job in jobs %} 
        {% include 'jobitem.html' %}
         {% endfor %}
     </div>
     <div class="text-center" >
     <a class="btn btn-primary btn-lg" href="mailto:nsshashankl@gmail.com?subject=Questions%20about%20job%20opening&body=My%20Name%3A%20%3CYour%20Name%3E%0D%0AMy%20Question%3A%20%3CEnter%20Your%20Question%20Here%3E">Contact no</a>
     </div>
    </div>
   {% include 'footer.html' %}
 </body>
</html>